<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="../static/scripts/tag.js"></script>
</head>
<body>

  <label><input type='checkbox'> TOGGLE OFF</label>

  <h2>text input</h2>
  <input name='tags' placeholder='write some tags' value='foo, bar,buzz, bar'>

  <h2>textarea</h2>
  <textarea name='tags2' placeholder='Movie names'>The Matrix, Pulp Fiction, Mad Max</textarea>


  <select id="selectBox" name="selectBox">
    <option value="option1"> option1 </option>
    <option value="option2"> option2 </option>
    <option value="option3"> option3 </option>
    <option value="option4"> option4 </option>
  </select>
</body>
</html>